<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
                      arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\auth-test.jar&quot;"
                      startupTimeLimit="180"
                      stdoutLogEnabled="true"
                      stdoutLogFile="%HOME%\LogFiles\stdout"
                      startupRetryCount="3">
            <environmentVariables>
                <environmentVariable name="JAVA_OPTS" value="-Dserver.port=%HTTP_PLATFORM_PORT%"/>
            </environmentVariables>
        </httpPlatform>
        <rewrite>
            <rules>
                <rule name="Force HTTPS" enabled="true">
                    <match url="(.*)" ignoreCase="false"/>
                    <conditions>
                        <add input="{HTTPS}" pattern="off"/>
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

